In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix, classification_report,accuracy_score

df = pd.read_csv('train.csv')

df.drop('car',axis=1,inplace=True)
df.drop('customer_id',axis=1,inplace=True)

#Imputing missing values with mode

df['Bar'].fillna(value=df['Bar'].mode())
df['CoffeeHouse'].fillna(value=df['CoffeeHouse'].mode())
df['CarryAway'].fillna(value=df['CarryAway'].mode())
df['RestaurantLessThan20'].fillna(value=df['RestaurantLessThan20'].mode())
df['Restaurant20To50'].fillna(value=df['Restaurant20To50'].mode())

'''''
#Binning 'education column'
mapping = {
    r'Some High School|High School Graduate': '0',
    r'Associates degree|Graduate degree (Masters or Doctorate)': '1',
    r'Some college - no degree': '2',
    r'Bachelors degree': '3'
}
df['education'] = df['education'].replace(mapping, regex=True)
'''''
'''''
#OCCUPATION BINNING

mapping_occ = {
    r'Farming Fishing & Forestry|Building & Grounds Cleaning & Maintenance|Production Occupations': '0',
    r'Installation Maintenance & Repair|Construction & Extraction|Protective Service|Personal Care & Service|Architecture & Engineering|Life Physical Social Science|Transportation & Material Moving|Legal|Healthcare Support|Community & Social Services': '0',
    r'Healthcare Practitioners & Technical|Food Preparation & Serving Related': '0',
    r'Retired': '1',
    r'Business & Financial': '2',
    r'Office & Administrative Support': '3',
    r'Arts Design Entertainment Sports & Media': '4',
    r'Management': '5',
    r'Education&Training&Library': '6',
    r'Sales & Related': '7',
    r'Student': '8',
    r'Unemployed': '9'
}

df['occupation'] = df['occupation'].replace(mapping_occ, regex=True)
'''''
df1 = pd.get_dummies(df)

X = df1.drop('Y',axis=1)
y = df1['Y']

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=380,random_state=0)
rfc.fit(X_train,y_train)
pred1 = rfc.predict(X_test)

acc_score1 = accuracy_score(y_test,pred1)

acc_score1

0.7576354679802956